@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s ease;
}

body {
  font-family: "Mulish", sans-serif;
  /* color: #3682ed; */
}

.clickable {
  transition: all 0.2s ease;
}

.clickable:active {
  transform: scale(0.9);
}

section {
  scroll-padding-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
